<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyASVTeNvFHo90OyBXhPiNdbp2DV3osMPTc</string>
	<key>GCM_SENDER_ID</key>
	<string>83535257372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dnstest.dnsTest</string>
	<key>PROJECT_ID</key>
	<string>dns-test-7ec30</string>
	<key>STORAGE_BUCKET</key>
	<string>dns-test-7ec30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83535257372:ios:e8c757e753b4e3e3a824d9</string>
</dict>
</plist>